In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [3]:
df=pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
#car_data.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}},inplace=True) 
tr_x=df[["PassengerId","HomePlanet","CryoSleep","Destination","Age","VIP",]]
tr_y=df[["Transported"]]

In [6]:
tr_x.isnull().sum()

PassengerId      0
HomePlanet     201
CryoSleep      217
Destination    182
Age            179
VIP            203
dtype: int64

In [7]:
tr_x['CryoSleep']=tr_x['CryoSleep'].fillna(tr_x['CryoSleep'].mode()[0])
tr_x['VIP']=tr_x['VIP'].fillna(tr_x['VIP'].mode()[0])
tr_x['Destination']=tr_x['Destination'].fillna(tr_x['Destination'].mode()[0])
tr_x['HomePlanet']=tr_x['HomePlanet'].fillna(tr_x['HomePlanet'].mode()[0])
tr_x['Age']=tr_x['Age'].fillna(tr_x['Age'].mean())

/tmp/ipykernel_32/962008048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['CryoSleep']=tr_x['CryoSleep'].fillna(tr_x['CryoSleep'].mode()[0])
/tmp/ipykernel_32/962008048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['VIP']=tr_x['VIP'].fillna(tr_x['VIP'].mode()[0])
/tmp/ipykernel_32/962008048.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['Destination']=tr_x['Destination'].fillna(tr_x['Destination'].mode()[0])
/tmp/ipykernel_32/962008048.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['HomePlanet']=tr_x['HomePlanet'].fillna(tr_x['HomePlanet'].mode()[0])
/tmp/ipykernel_32/962008048.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['Age']=tr_x['Age'].fillna(tr_x['Age'].mean())

In [8]:
#tx=pd.get_dummies(tr_x, columns = ['Destination'])
#df['salary'] = df['salary'].fillna(df['salary'].mode()[0])

tr_x.replace({'HomePlanet':{'Earth':0,'Europa':1,'Mars':2}},inplace=True)
#tr_x.replace({'VIP':{'False':0,'True':1}},inplace= True)
#test_x["Sex"].replace("male",1,inplace=True)
tr_x['VIP']=tr_x['VIP'].astype(int)
tr_x['CryoSleep']=tr_x['CryoSleep'].astype(int)
#tr_x.replace({'CryoSleep':{'False':0,'True':1}},inplace= True)
tr_x.replace({'Destination':{'55 Cancri e':0,'PSO J318.5-22':1,'TRAPPIST-1e':2}},inplace=True)
passengerId=[]
tr_x

/tmp/ipykernel_32/306725130.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x.replace({'HomePlanet':{'Earth':0,'Europa':1,'Mars':2}},inplace=True)
/tmp/ipykernel_32/306725130.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['VIP']=tr_x['VIP'].astype(int)
/tmp/ipykernel_32/306725130.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['CryoSleep']=tr_x['CryoSleep'].astype(int)
/tmp/ipykernel_32/306725130.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x.replace({'Destination':{'55 Cancri e':0,'PSO J318.5-22':1,'TRAPPIST-1e':2}},inplace=True)

     PassengerId  HomePlanet  CryoSleep  Destination   Age  VIP
0        0001_01           1          0            2  39.0    0
1        0002_01           0          0            2  24.0    0
2        0003_01           1          0            2  58.0    1
3        0003_02           1          0            2  33.0    0
4        0004_01           0          0            2  16.0    0
...          ...         ...        ...          ...   ...  ...
8688     9276_01           1          0            0  41.0    1
8689     9278_01           0          1            1  18.0    0
8690     9279_01           0          0            2  26.0    0
8691     9280_01           1          0            0  32.0    0
8692     9280_02           1          0            2  44.0    0

[8693 rows x 6 columns]

In [9]:
x=tr_x['PassengerId']
pid=[]
for i in range(0,len(x)):
    p=x[i]
    ne=(p[0:4]+p[5:7])
    une=int(ne)
    pid.append(une)
tr_x['PassengerId']=pid
tr_x

/tmp/ipykernel_32/1552590078.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_x['PassengerId']=pid

      PassengerId  HomePlanet  CryoSleep  Destination   Age  VIP
0             101           1          0            2  39.0    0
1             201           0          0            2  24.0    0
2             301           1          0            2  58.0    1
3             302           1          0            2  33.0    0
4             401           0          0            2  16.0    0
...           ...         ...        ...          ...   ...  ...
8688       927601           1          0            0  41.0    1
8689       927801           0          1            1  18.0    0
8690       927901           0          0            2  26.0    0
8691       928001           1          0            0  32.0    0
8692       928002           1          0            2  44.0    0

[8693 rows x 6 columns]

In [10]:
t_x,cv_x,t_y,cv_y=train_test_split(tr_x,tr_y,test_size=0.25)
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(tr_x,tr_y)

/tmp/ipykernel_32/626978606.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(tr_x,tr_y)

RandomForestClassifier()

In [11]:
acc=rf.score(cv_x,cv_y)
print(acc*100)

100.0

In [12]:
#from sklearn.linear_model import LogisticRegression
#lr=LogisticRegression()
#lr.fit(tr_x,tr_y)
#cc1=lr.score(cv_x,cv_y)
#print(acc1*100)

In [13]:
te=pd.read_csv("/kaggle/input/spaceship-titanic/test.csv")
te.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [14]:
te_x=te[["PassengerId","HomePlanet","CryoSleep","Destination","Age","VIP",]]
te_x.isnull().sum()

PassengerId     0
HomePlanet     87
CryoSleep      93
Destination    92
Age            91
VIP            93
dtype: int64

In [15]:
te_x['CryoSleep']=te_x['CryoSleep'].fillna(te_x['CryoSleep'].mode()[0])
te_x['HomePlanet']=te_x['HomePlanet'].fillna(te_x['HomePlanet'].mode()[0])
te_x['CryoSleep']= te_x['CryoSleep'].fillna(te_x['CryoSleep'].mode()[0])
te_x['Destination']=te_x['Destination'].fillna(te_x['Destination'].mode()[0])
te_x['Age']=te_x['Age'].fillna(te_x['Age'].mean())
te_x['VIP']=te_x['VIP'].fillna(te_x['VIP'].mode()[0])
te_x

/tmp/ipykernel_32/2135600039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['CryoSleep']=te_x['CryoSleep'].fillna(te_x['CryoSleep'].mode()[0])
/tmp/ipykernel_32/2135600039.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['HomePlanet']=te_x['HomePlanet'].fillna(te_x['HomePlanet'].mode()[0])
/tmp/ipykernel_32/2135600039.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['CryoSleep']= te_x['CryoSleep'].fillna(te_x['CryoSleep'].mode()[0])
/tmp/ipykernel_32/2135600039.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['Destination']=te_x['Destination'].fillna(te_x['Destination'].mode()[0])
/tmp/ipykernel_32/2135600039.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['Age']=te_x['Age'].fillna(te_x['Age'].mean())
/tmp/ipykernel_32/2135600039.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['VIP']=te_x['VIP'].fillna(te_x['VIP'].mode()[0])

     PassengerId HomePlanet  CryoSleep    Destination        Age    VIP
0        0013_01      Earth       True    TRAPPIST-1e  27.000000  False
1        0018_01      Earth      False    TRAPPIST-1e  19.000000  False
2        0019_01     Europa       True    55 Cancri e  31.000000  False
3        0021_01     Europa      False    TRAPPIST-1e  38.000000  False
4        0023_01      Earth      False    TRAPPIST-1e  20.000000  False
...          ...        ...        ...            ...        ...    ...
4272     9266_02      Earth       True    TRAPPIST-1e  34.000000  False
4273     9269_01      Earth      False    TRAPPIST-1e  42.000000  False
4274     9271_01       Mars       True    55 Cancri e  28.658146  False
4275     9273_01     Europa      False    TRAPPIST-1e  28.658146  False
4276     9277_01      Earth       True  PSO J318.5-22  43.000000  False

[4277 rows x 6 columns]

In [16]:
te_x['VIP']=te_x['VIP'].astype(int)
te_x['CryoSleep']=te_x['CryoSleep'].astype(int)
te_x.replace({'HomePlanet':{'Earth':0,'Europa':1,'Mars':2}},inplace=True)
te_x.replace({'Destination':{'55 Cancri e':0,'PSO J318.5-22':1,'TRAPPIST-1e':2}},inplace=True)
passengerId=[]
te_x

/tmp/ipykernel_32/2423225562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['VIP']=te_x['VIP'].astype(int)
/tmp/ipykernel_32/2423225562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['CryoSleep']=te_x['CryoSleep'].astype(int)
/tmp/ipykernel_32/2423225562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x.replace({'HomePlanet':{'Earth':0,'Europa':1,'Mars':2}},inplace=True)
/tmp/ipykernel_32/2423225562.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x.replace({'Destination':{'55 Cancri e':0,'PSO J318.5-22':1,'TRAPPIST-1e':2}},inplace=True)

     PassengerId  HomePlanet  CryoSleep  Destination        Age  VIP
0        0013_01           0          1            2  27.000000    0
1        0018_01           0          0            2  19.000000    0
2        0019_01           1          1            0  31.000000    0
3        0021_01           1          0            2  38.000000    0
4        0023_01           0          0            2  20.000000    0
...          ...         ...        ...          ...        ...  ...
4272     9266_02           0          1            2  34.000000    0
4273     9269_01           0          0            2  42.000000    0
4274     9271_01           2          1            0  28.658146    0
4275     9273_01           1          0            2  28.658146    0
4276     9277_01           0          1            1  43.000000    0

[4277 rows x 6 columns]

In [17]:
x=te_x['PassengerId']
pid=[]
for i in range(0,len(x)):
    p=x[i]
    ne=(p[0:4]+p[5:7])
    une=int(ne)
    pid.append(une)
te_x['PassengerId']=pid
te_x

/tmp/ipykernel_32/875529620.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te_x['PassengerId']=pid

      PassengerId  HomePlanet  CryoSleep  Destination        Age  VIP
0            1301           0          1            2  27.000000    0
1            1801           0          0            2  19.000000    0
2            1901           1          1            0  31.000000    0
3            2101           1          0            2  38.000000    0
4            2301           0          0            2  20.000000    0
...           ...         ...        ...          ...        ...  ...
4272       926602           0          1            2  34.000000    0
4273       926901           0          0            2  42.000000    0
4274       927101           2          1            0  28.658146    0
4275       927301           1          0            2  28.658146    0
4276       927701           0          1            1  43.000000    0

[4277 rows x 6 columns]

In [18]:
prd=rf.predict(te_x)
prd

array([ True, False,  True, ...,  True,  True, False])

In [20]:
op=te[['PassengerId']]
op['Transported']=prd

/tmp/ipykernel_32/3231840727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  op['Transported']=prd

In [21]:
op.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01         True

In [22]:
ex_ans=pd.read_csv("/kaggle/input/spaceship-titanic/sample_submission.csv")
ex_ans.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [23]:
sample_submission_df = pd.read_csv('/kaggle/input/spaceship-titanic/sample_submission.csv')
sample_submission_df['Transported'] = prd
sample_submission_df.to_csv('/kaggle/working/sub1.csv', index=False)
sample_submission_df.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01         True

In [24]:
df3=sample_submission_df

In [25]:
df3.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01         True

In [26]:
oop=df3[["PassengerId","Transported"]]
oop.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01         True

In [27]:
oop.to_csv("Submmission.csv",index=False)

In [ ]:
len(oop)
len(te)
len(df)

In [ ]:
len(te)

In [ ]:
len(df)

In [ ]:
len(ex_ans)